*{
    cursor: url("image/dodo.png"), default;  
}
table th,
table td{
    text-align:center;
}
table .img_pokemon{
    height: 96px;
}
.ajouter{
    cursor: url("image/curseur.png"), pointer;
    height: 56px;
}
#contenu{
    margin: 6em 6em;
    background-color:white;
    padding: 1em;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}
footer{
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    padding: 5px;
}
body {
    color:black;
    background: url(image/background.jpg) no-repeat center center fixed;
    background-size: cover;
    
}
.mini_collection{
    position: fixed;
    top: 80px;
    z-index: 0;
}
nav{
    position: fixed;
    top: 0px;
    z-index: 10;
}
nav ul a{
    cursor: url("image/pointer.png"), pointer;
}
.pagination li.active{
    background-color: red;
}